<div class="min-vh-100 py-4" style="background-color: #faf1e6;">
  <div class="container shadow rounded p-4 bg-white">
    <div class="row g-4">
      <!-- Recetas - card grande -->
      <div class="col-12">
        <div class="card text-white overflow-hidden bg-dark h-100" style="background-image: url('assets/imgs/recetasBTN.jpg'); background-size: cover; background-position: center;" (click)="navigateTo('/recetas')">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h3 class="card-title">Recetas</h3>
          </div>
        </div>
      </div>

      <!-- Resto de las cards en 2 columnas -->
      <div class="col-md-6">
        <div class="card text-white overflow-hidden bg-dark h-100" style="background-image: url('assets/imgs/calificadasBTN.jpeg'); background-size: cover; background-position: center;" (click)="navigateTo('/clasificados')">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h3 class="card-title">Calificados</h3>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card text-white overflow-hidden bg-dark h-100" style="background-image: url('assets/imgs/carritoBTN.avif'); background-size: cover; background-position: center;" (click)="navigateTo('/carrito')">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h3 class="card-title">Carrito</h3>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card text-white overflow-hidden bg-dark h-100" style="background-image: url('assets/imgs/favoritosBTN.jpg'); background-size: cover; background-position: center;" (click)="navigateTo('/favoritos')">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h3 class="card-title">Favoritos</h3>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card text-white overflow-hidden bg-dark h-100" style="background-image: url('assets/imgs/presupuestoBTN.jpg'); background-size: cover; background-position: center;" (click)="navigateTo('/presupuesto')">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h3 class="card-title">Presupuesto</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
