<div class="container">

  
  <div class="grid">
    <!-- Contenedor 1 - Ocupa dos columnas -->
    <div class="card card-large" style="background-image: url('assets/imgs/recetasBTN.jpg');" (click)="navigateTo('/recetas')">
      <div class="overlay"></div>
      <h3>Recetas</h3>
    </div>

    <!-- Segunda fila -->
    <div class="card" style="background-image: url('assets/imgs/calificadasBTN.jpeg');" (click)="navigateTo('/clasificados')">
      <div class="overlay"></div>
      <h3>Calificados</h3>
    </div>

    <div class="card" style="background-image: url('assets/imgs/carritoBTN.avif');" (click)="navigateTo('/carrito')">
      <div class="overlay"></div>
      <h3>Carrito</h3>
    </div>

    <div class="card" style="background-image: url('assets/imgs/favoritosBTN.jpg');" (click)="navigateTo('/favoritos')">
      <div class="overlay"></div>
      <h3>Favoritos</h3>
    </div>

    <div class="card" style="background-image: url('assets/imgs/presupuestoBTN.jpg');" (click)="navigateTo('/presupuesto')">
      <div class="overlay"></div>
      <h3>Presupuesto</h3>
    </div>
  </div>
</div>
